
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>我的主页</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/mystyle.css">

    <!-- my are oneself css style -->
    <link rel="stylesheet" href="/public/css/style.css">
  </head>

  <body>
    {{if user}}
      {{include './header.html'}}
      {{include './list.html'}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#index">我的生活 <span class="sr-only">(current)</span></a></li>
            <li style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9);"><a style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9); color:azure;" href="#messade">我的生活</a></li>
            <li style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9);"><a style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9); color:azure;" href="#">Analytics</a></li>
            <li style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9);"><a style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9); color:azure;" href="#">Export</a></li>
          </ul>
        </div>
        <div style="height:100vh; overflow: hidden;">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="index" >
          <h2 class="sub-header"> 我的任务</h2>
          <a class="btn btn-success" href="/students/new">添加任务</a>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>任务编号</th>
                  <th>姓名</th>
                  <th>完成状态</th>
                  <th>任务顺序</th>
                  <th>事件</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {{each students}}
                <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{$value.name}}</td>
                    <td>
                      {{if $value.gender===0}}
                        {{$value.gender = "完成"}}
                        {{else if  $value.gender === 1}}
                        {{$value.gender = "未完成"}}
                      {{/if}}
                    </td>
                    <td>{{$value.age}}</td>
                    <td>{{$value.hobbies}}</td>
                    <td>
                      <a href="/students/edit?id={{$value._id}}">编辑</a>
                      <a href="/students/delete?id={{$value._id}}">删除</a>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="messade" style="margin-top:100vh; ">
                <div style="height:28vh; width:1px; position:absolute;top:-40vh; left: 36vw; border-right: 3px solid  rgba(153, 153, 153, 1)"></div>
                  <div class="calendar">
                    <div class="title">
                        <h1 class="green" id="calendar-title" style="width:30px; font-size:1em;color:black; font-weight: bold;  margin-left: 143px; position: relative; top:5.1vh;z-index: 0;">Month</h1>
                        <h2 class="green" id="calendar-year"  style="font-size:1em;color:black;font-weight: bold; width: 3.5vw; margin-left: 170px; ">Year</h2>
                        <a href="" id="pre" style="font-size:2.3em; margin-top:4.8vh; margin-left: 6vw; color: rgba(153, 153, 153, 1)">&lt;</a>
                        <a href="" id="next" style="font-size:2.3em;position: absolute;left: 15vw; top: 4.8vh; color: rgba(153, 153, 153, 1)">&gt;</a>
                    </div>
            
                    <div class="body">
                        <div class="lightgrey body-list">
                            <ul>
                                <li>周日</li>
                                <li>周一</li>
                                <li>周二</li>
                                <li>周三</li>
                                <li>周四</li>
                                <li>周五</li>
                                <li>周六</li>
                                
                            </ul>
            
                        </div>
            
                        <div class="darkgrey body-list">
                            <ul id="days">
            
                            </ul>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                  var month_olypic = [31,29,31,30,31,30,31,31,30,31,30,31];//闰年每个月份的天数
                  var month_normal = [31,28,31,30,31,30,31,31,30,31,30,31];
                  var month_name =["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"];
                  //获取以上各个部分的id
                  var holder = document.getElementById("days");
                  var prev = document.getElementById("prev");
                  var next = document.getElementById("next");
                  var ctitle = document.getElementById("calendar-title");
                  var cyear = document.getElementById("calendar-year");
                  //获取当天的年月日
                  var my_date = new Date();
                  var my_year = my_date.getFullYear();//获取年份
                  var my_month = my_date.getMonth(); //获取月份，一月份的下标为0
                  var my_day = my_date.getDate();//获取当前日期
           
                  //根据年月获取当月第一天是周几
                  function dayStart(month,year){
                      var tmpDate = new Date(year, month, 1);
                      return (tmpDate.getDay());
                  }
                  //根据年份判断某月有多少天(11,2018),表示2018年12月
                  function daysMonth(month, year){
                      var tmp1 = year % 4;
                      var tmp2 = year % 100;
                      var tmp3 = year % 400;
           
                      if((tmp1 == 0 && tmp2 != 0) || (tmp3 == 0)){
                          return (month_olypic[month]);//闰年
                      }else{
                          return (month_normal[month]);//非闰年
                      }
                  }
                  //js实现str插入li+class,不要忘了用innerhtml进行插入
                  function refreshDate(){
                      var str = "";
                      //计算当月的天数和每月第一天都是周几，day_month和day_year都从上面获得
                      var totalDay = daysMonth(my_month,my_year);
                      var firstDay = dayStart(my_month, my_year);
                      //添加每个月的空白部分
                      for(var i = 0; i < firstDay; i++){
                          str += "<li>"+"</li>";
                      }
           
                      //从一号开始添加知道totalDay，并为pre，next和当天添加样式
                      var myclass;
                      for(var i = 1; i <= totalDay; i++){
                          //三种情况年份小，年分相等月份小，年月相等，天数小
                          //点击pre和next之后，my_month和my_year会发生变化，将其与现在的直接获取的再进行比较
                          //i与my_day进行比较,pre和next变化时，my_day是不变的
                          // console.log(my_year+" "+my_month+" "+my_day);
                          // console.log(my_date.getFullYear()+" "+my_date.getMonth()+" "+my_date.getDay());
                          if((my_year < my_date.getFullYear())||(my_year == my_date.getFullYear() && my_month < my_date.getMonth()) || (my_year == my_date.getFullYear() && my_month == my_date.getMonth() && i < my_day)){
                              myclass = " class='lightgrey'";
                          }else if(my_year == my_date.getFullYear() && my_month == my_date.getMonth() && i == my_day){
                              myclass = "class = 'green greenbox'";
                          }else{
                              myclass = "class = 'darkgrey'";
                          }
                          str += "<li "+myclass+">"+i+"</li>";
                      }
                      holder.innerHTML = str;
                      ctitle.innerHTML = month_name[my_month];
                      cyear.innerHTML = my_year;
                  }
                  //调用refreshDate()函数，日历才会出现
                  refreshDate();
                  //实现onclick向前或向后移动
                  pre.onclick = function(e){
                      e.preventDefault();
                      my_month--;
                      if(my_month < 0){
                          my_year--;
                          my_month = 11; //即12月份
                      }
                      refreshDate();
                  }
                  
                  next.onclick = function(e){
                      e.preventDefault();
                      my_month++;
                      if(my_month > 11){
                          my_month = 0;
                          my_year++;
                      }
                      refreshDate();
                  }
              </script>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>

</div>
   
    {{else}}
      <div class="box">
          <div class="site-wrapper">

              <div class="site-wrapper-inner">
        
                <div class="cover-container">
        
                  <div class="masthead clearfix">
                    <div class="inner">
                      <!-- <h3 class="masthead-brand">Cover</h3> -->
                      <nav>
                        <ul class="nav masthead-nav">
                          <!-- <li class="active"><a href="#">Home</a></li>
                          <li><a href="#">Features</a></li>
                          <li><a href="#">Contact</a></li> -->
                        </ul>
                      </nav>
                    </div>
                  </div>
        
                  <div class="inner cover">
                    <h1 class="cover-heading" style="position: fixed; top: 23vh; left: 43vw;">个人管理系统</h1>
                    <p class="lead" style="margin-top:-10vh;">我们致力于自我管理的精华所在，让大家更能体会到规整自己的方便，更自律因而更自由，因为专注自我，所以更能享受自我！</p>
                    <p class="lead">
                      <a href="/users/login" class="btn" style="position: fixed; top: 63vh; left: 40vw; font-size: 28px; color: azure; width: 15vw; height: 65px; background-color: rgba(255, 204, 51, 0.6); line-height: 58px; border-radius: 40px;">请登陆</a>
                    </p>
                  </div>
        
                  <div class="mastfoot">
                    <div class="inner">
                      <p>Copyright  2019<a href="http://127.0.0.1:3000/users/login">zhangjianxiong.club</a>All Rights Reserved<a href="http://127.0.0.1:3000/users/login"></a></p>
                    </div>
                  </div>
        
                </div>
        
              </div>
        
            </div>
      </div>
    {{/if}}
  </body>
</html>
