
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>我的主页</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/mystyle.css">

    <!-- my are oneself css style -->
    <link rel="stylesheet" href="/public/css/style.css">

  </head>

  <body>
    {{if user}}
      {{include './header.html'}}
      {{include './list.html'}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#index">我的生活 <span class="sr-only">(current)</span></a></li>
            <li style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9);"><a style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9); color:azure;" href="#messade">我的生活</a></li>
            <li style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9);"><a style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9); color:azure;" href="#">Analytics</a></li>
            <li style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9);"><a style="border-top-left-radius:15px;border-bottom-left-radius: 15px; background: rgba(255, 51,51, 0.9); color:azure;" href="#">Export</a></li>
          </ul>
        </div>
        <div style="height:100vh; overflow: hidden;">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="index" >
          <h2 class="sub-header"> 我的任务</h2>
          <a class="btn btn-success" href="/students/new">添加任务</a>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>任务编号</th>
                  <th>姓名</th>
                  <th>完成状态</th>
                  <th>任务顺序</th>
                  <th>事件</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {{each students}}
                <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{$value.name}}</td>
                    <td>
                      {{if $value.gender===0}}
                        {{$value.gender = "完成"}}
                        {{else if  $value.gender === 1}}
                        {{$value.gender = "未完成"}}
                      {{/if}}
                    </td>
                    <td>{{$value.age}}</td>
                    <td>{{$value.hobbies}}</td>
                    <td>
                      <a href="/students/edit?id={{$value._id}}">编辑</a>
                      <a href="/students/delete?id={{$value._id}}">删除</a>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="messade" style="margin-top:100vh; margin-left: 3vw;">
                <div class="row placeholders">
                    <h1 class="page-header">我的</h1>
                  {{each fru}}
                    <div class="col-xs-6 col-sm-3 placeholder ric" >
                      
                      
                      <img src="{{$value.pic}}" width="200" height="200" class="img-responsive img-circle" alt="Generic placeholder thumbnail" >
                      <h5>{{$value.txt1}}</h5>
                      <span class="text-muted txt">{{$value.txt2}}</span>
                    </div>
                  {{/each}}
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>

</div>
   
    {{else}}
      <div class="box">
          <div class="site-wrapper">

              <div class="site-wrapper-inner">
        
                <div class="cover-container">
        
                  <div class="masthead clearfix">
                    <div class="inner">
                      <!-- <h3 class="masthead-brand">Cover</h3> -->
                      <nav>
                        <ul class="nav masthead-nav">
                          <!-- <li class="active"><a href="#">Home</a></li>
                          <li><a href="#">Features</a></li>
                          <li><a href="#">Contact</a></li> -->
                        </ul>
                      </nav>
                    </div>
                  </div>
        
                  <div class="inner cover">
                    <h1 class="cover-heading">个人评论系统</h1>
                    <p class="lead">我们主要专注于评价，对于评价我们一定是最权威与可信赖的，因为我采用的是大数据加人工调查的方式，屏蔽了传统的刷单好评，我们将顾客的利益最大化，顾客至上！</p>
                    <p class="lead">
                      <a href="/users/login" class="btn btn-lg btn-default">请登陆</a>
                    </p>
                  </div>
        
                  <div class="mastfoot">
                    <div class="inner">
                      <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                    </div>
                  </div>
        
                </div>
        
              </div>
        
            </div>
      </div>
    {{/if}}
  </body>
</html>
