.page-404{ color:#afb5bf; padding-top:60px; padding-bottom:90px}
.page-404 .error-title{font-size:80px}
.page-404 .error-title .iconfont{font-size:80px}
.page-404 .error-description{font-size:24px}
.page-404 .error-info{font-size:14px}
.text-c{text-align:center}
.Hui-iconfont {background-size:9px auto;margin-top:-7px;position: absolute;right:15px;top: 50%}
.va-m{vertical-align:middle!important}
.error-title img{position: relative;top: 10px;}